<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>signup_confirm_success_url</key>
        <string>http://vox.xel.io</string>
        <key>assets_url</key>
        <string>http://vox.xel.io</string>
        <key>api_base_url</key>
        <string>https://voxxel.herokuapp.com</string>
    </dict>
</plist>
