<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>password_change_success_url</key>
	<string>http://appistack.com/password/change</string>
	<key>signup_confirm_success_url</key>
	<string>http://appistack.com</string>
	<key>assets_url</key>
	<string>http://appistack.com</string>
	<key>api_base_url</key>
	<string>https://appistack-rails.herokuapp.com</string>
</dict>
</plist>
